<!-- Begin main content -->
<section class="container error__content" ng-controller="errorController as controller">
    <h3 class="error__title">Oooops!</h3>
    <p class="error__text">Looks like something broke!  The page you were looking for is not here.<br>Go <a class="error__link" href="index.html">home</a> or try a search:</p>
    <!-- Search form-->
    <form class="search-form" id="search-form" name="search-form" method="get" action="#">
        <input id="input-search" name="input-search" type="search" placeholder="type your request" value="">
        <button class="submit-button" id="search-submit-button" type="submit">
            <i class="icon-circle icon-circle--thin fa fa-search"></i>
        </button>
    </form>
    <!-- End Search form-->
</section>
<!-- End main content -->