<div ng-controller="howItWorksController as controller">
    <!-- Page title -->
    <div class="page-title-wrapper how-it-works-title-wrapper">
        <div class="pattern-dark-wrapper">
            <div class="container">
                <h2 class="page-title page-title-margin">{{translation.titleA}}<br><span class="page-title-main">{{translation.titleB}}</span></h2>

                <!-- Circle button -->
                <div class="circle-button-wrapper">
                    <div class="circle-button">
                        <h4 class="circle-button__title">{{translation.downloadApp}}<i
                                class="icon-circle icon-circle--small fa fa-arrow-right"></i></h4>
                        <a class="circle-button-second" href="#">
                            <h4 class="circle-button__title">{{translation.downloadApp}}<i
                                    class="icon-circle icon-circle--small fa fa-arrow-right"></i></h4>
                        </a>
                    </div>
                </div>
                <!-- End Circle button -->

            </div>
        </div>
    </div>
    <!-- End Page title -->

    <!-- Begin main content -->
    <div class="container page-content-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <p class="page__text"><strong>Fusce aliquet euismod luctus.</strong> Aliquam scelerisque tincidunt risus
                    nec pellentesque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                    mus. Praesent sed tristique massa. Aenean iaculis diam nec ligula ullamcorper eu tempus dolor
                    ullamcorper. Morbi in nisi tincidunt neque gravida facilisis. Pellentesque mattis nisl eget neque
                    scelerisque adipiscing. Vestibulum euismod commodo odio sit amet congue.</p>

                <div class="divider-circle divider-circle--light"></div>
            </div>
        </div>
        <!-- End row -->
    </div>

    <!-- Begin page section -->
    <section class="container meet">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section-title">{{translation.introduction.titleA}}<span class="text-highlight">{{translation.introduction.titleB}}</span></h2>
            </div>
        </div>
        <!-- End row -->

        <div class="row">
            <div class="col-sm-5">
                <div class="meet__image">
                    <img src="images/meet-image.png" alt="">
                </div>
                <p class="meet__image-description">{{translation.introduction.subtitle}}</p>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <p class="meet__text">{{translation.introduction.partA}}</p>

                <div class="row meet__service-wrapper">
                    <div class="col-sm-6 meet__service">
                        <i class="icon icon--secondary icon-circle icon-circle--lg fa fa-tag"></i>

                        <h3 class="meet__title clearfix">{{translation.introduction.highlightA}}</h3>

                        <p class="meet__text">{{translation.introduction.partB}}</p>
                    </div>
                    <div class="col-sm-6 meet__service">
                        <i class="icon icon--secondary icon-circle icon-circle--lg fa fa-clock-o"></i>

                        <h3 class="meet__title clearfix">{{translation.introduction.highlightB}}</h3>

                        <p class="meet__text">{{translation.introduction.partC}}</p>
                    </div>
                </div>
                <p class="meet__text">{{translation.introduction.partD}}</p>
            </div>
        </div>
        <!-- End row -->
    </section>
    <!-- End page section -->

    <!-- Begin page section -->
    <section class="container compatibility">
        <div class="row">
            <div class="col-sm-12">
                <div class="divider-circle divider-circle--light"></div>

                <h2 class="section-title">{{translation.wheeltool.titleA}}<span class="text-highlight">{{translation.wheeltool.titleB}}</span></h2>
            </div>
        </div>
        <!-- End row -->

        <div class="row compatibility-content-wrapper">
            <div class="col-sm-5">
                <div class="compatibility__image">
                    <img src="images/compatibility-image.png" alt="">
                </div>
                <p class="compatibility__image-description hidden-md hidden-lg">Missing text?</p>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <ul class="list-arrow">
                    <li class="list__item"><i class="icon-circle icon-circle--thin fa fa-arrow-right"></i><strong>{{translation.wheeltool.highlightA}}</strong>
                        {{translation.wheeltool.contentA}}
                    </li>
                    <li class="list__item"><i class="icon-circle icon-circle--thin fa fa-arrow-right"></i><strong>{{translation.wheeltool.highlightB}}</strong>
                        {{translation.wheeltool.contentB}}
                    </li>
                    <li class="list__item"><i class="icon-circle icon-circle--thin fa fa-arrow-right"></i><strong>{{translation.wheeltool.highlightC}}</strong>
                        {{translation.wheeltool.contentC}}
                    </li>
                </ul>
            </div>
        </div>
        <!-- End row -->

        <div class="row">
            <div class="col-sm-12">
                <p class="compatibility__image-description visible-md visible-lg">{{translation.wheeltool.subtitle}}</p>
            </div>
        </div>
        <!-- End row -->
    </section>
    <!-- End page section -->

    <!-- Begin page section -->
    <section class="video">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="divider-circle divider-circle--light"></div>

                    <h2 class="section-title">Video<span class="text-highlight">Resources</span></h2>
                </div>
            </div>
            <!-- End row -->
            <div class="row">
                <div class="col-sm-6 video__item">
                    <!--<iframe class="video__vimeo" src="http://player.vimeo.com/video/24535181"></iframe>-->
                    <h4 class="video__title">Nullam vehicula urna a quam pretium rhoncus.</h4>
                    <h5 class="video__author">by John Doe</h5>

                    <p class="video__text">Morbi sit amet tempus nibh. Vestibulum commodo diam ut enim sagittis rutrum.
                        Fusce id nunc eu leo porttitor elementum. Nulla facilisi. Nulla a felis vel nibh rutrum
                        ultrices. Nam bibendum semper velit, eget laoreet ligula scelerisque sit amet. Donec in mauris
                        eu augue lobortis varius. Nulla rhoncus varius pellentesque. Nullam pellentesque nisl eget massa
                        lacinia in adipiscing dolor adipiscing.</p>
                </div>
                <div class="col-sm-6 video__item">
                    <!--<iframe class="video__vimeo" src="http://player.vimeo.com/video/24535181"></iframe>-->
                    <h4 class="video__title">Aenean quis nisl neque, facilisis ornare neque.</h4>
                    <h5 class="video__author">by Chris Hoffman</h5>

                    <p class="video__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget luctus
                        lectus. Mauris lobortis ultricies quam, ac suscipit odio aliquet imperdiet. Integer sed odio
                        eros, ac faucibus velit. Sed porttitor tempus est nec vehicula. Sed risus metus, aliquam in
                        sagittis vitae, scelerisque sagittis lacus.</p>
                </div>
            </div>
            <!-- End row -->
        </div>
        <div class="decorative-lines">
            <div class="container">
                <a class="video__link link-highlight" href="#">All videos <i
                        class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
            </div>
        </div>
    </section>
    <!-- End page section -->

    <!-- Begin page section -->
    <section class="container client-says">
        <div class="row">
            <div class="col-sm-12">
                <div class="divider-circle divider-circle--light"></div>
            </div>
        </div>
        <!-- End row -->
        <div class="row">
            <div class="col-sm-8">
                <h2 class="section-title">Recently<span class="text-highlight">Client says</span></h2>

                <!-- Qoutation slider -->
                <div class="swiper-controls qoutation-slider-controls">
                    <a class="prev-arrow" href="#"></a>
                    <a class="next-arrow" href="#"></a>
                </div>

                <div class="clearfix"></div>

                <div class="swiper-container qoutation-slider">
                    <div class="swiper-wrapper">

                        <!-- Client saying -->
                        <div class="swiper-slide">
                            <div class="client-says__item">
                                <div class="author__photo triangled-box">
                                    <img src="http://placehold.it/200x200" alt="">

                                    <div class="author__name">John Doe</div>
                                </div>
                                <p class="author__message">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt
                                    risus nec pellentesque. Cum sociis natoque penatibus et magnis dis parturient
                                    montes, nascetur ridiculus mus. Praesent sed tristique massa.</p>
                            </div>
                        </div>
                        <!-- End Client saying -->

                        <!-- Client saying -->
                        <div class="swiper-slide">
                            <div class="client-says__item">
                                <div class="author__photo triangled-box">
                                    <img src="http://placehold.it/200x200" alt="">

                                    <div class="author__name">Clark Kent</div>
                                </div>
                                <p class="author__message">Ut id tellus id sapien facilisis convallis sed a turpis.
                                    Maecenas nec nisi vel risus consectetur consectetur. Suspendisse a neque felis, a
                                    molestie quam. Vestibulum consequat ultrices ullamcorper.</p>
                            </div>
                        </div>
                        <!-- End Client saying -->

                        <!-- Client saying -->
                        <div class="swiper-slide">
                            <div class="client-says__item">
                                <div class="author__photo triangled-box">
                                    <img src="http://placehold.it/200x200" alt="">

                                    <div class="author__name">Barbara Lee</div>
                                </div>
                                <p class="author__message">Pellentesque suscipit augue eu turpis suscipit faucibus
                                    faucibus id lacus. Fusce cursus aliquet vudivutate. Aliquam erat volutpat. Nam nec
                                    tincidunt nibh. Nullam urna leo, tincidunt eget sodales id, volutpat quis dolor.</p>
                            </div>
                        </div>
                        <!-- End Client saying -->

                        <!-- Client saying -->
                        <div class="swiper-slide">
                            <div class="client-says__item">
                                <div class="author__photo triangled-box">
                                    <img src="http://placehold.it/200x200" alt="">

                                    <div class="author__name">Emely White</div>
                                </div>
                                <p class="author__message">Nunc id ante id lorem accumsan ultrices sed vel nisl. Etiam
                                    et massa eu diam facilisis tincidunt ut ut urna. Cras vulputate suscipit sem non
                                    dictum. Curabitur pretium nisi ac neque congue commodo scelerisque neque
                                    iaculis.</p>
                            </div>
                        </div>
                        <!-- End Client saying -->

                        <!-- Client saying -->
                        <div class="swiper-slide">
                            <div class="client-says__item">
                                <div class="author__photo triangled-box">
                                    <img src="http://placehold.it/200x200" alt="">

                                    <div class="author__name">Santsa Sky</div>
                                </div>
                                <p class="author__message">Cras vel ligula justo, id condimentum libero. Aliquam erat
                                    volutpat. Nunc at erat eget urna semper semper sed sit amet tortor. Suspendisse urna
                                    nulla, ullamcorper non congue at, condimentum eu est.</p>
                            </div>
                        </div>
                        <!-- End Client saying -->

                    </div>
                </div>
                <!-- End Qoutation slider -->

            </div>
            <div class="col-sm-4">
                <div class="promobox promobox--alternative">
                    <h4 class="promobox__title">Have any questions?</h4>

                    <p class="promobox__text">Praesent sed tristique massa. Aenean iaculis diam nec ligula ullamcorper
                        eu tempus dolor ullamcorper.</p>
                    <a class="btn btn-info btn-wider contact__button btn--highlight" href="#">Contact Us</a>
                </div>
            </div>
        </div>
        <!-- End row -->
    </section>
    <!-- End page section -->

    <!-- End main content -->
</div>