<div ng-controller="homeController as controller">
    <!-- Page title -->
    <div class="home-title-wrapper">
        <div class="pattern-light-wrapper">
            <div class="container">
                <h2 class="page-title-main">Mediamotion</h2>

                <h3 class="page-title-secondary">{{translation.headline}}</h3>
            </div>

            <div class="decorative-lines"></div>
            <div class="container">

                <div class="circle-info-buttons">
                    <!-- Circle info button -->
                    <div class="circle-info-wrapper">
                        <div class="circle-info">
                            <div class="circle-info__front">
                                <h4 class="circle-info__title">{{translation.mainHeadA}}</h4>
                            </div>
                            <div class="circle-info__back">
                                <h4 class="circle-info__title">{{translation.mainHeadA}}</h4>

                                <p class="circle-info__text hidden-xs">{{translation.mainHeadAltA}}</p>
                                <a href="#"><i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Circle info button -->

                    <!-- Circle info button -->
                    <div class="circle-info-wrapper">
                        <div class="circle-info">
                            <div class="circle-info__front">
                                <h4 class="circle-info__title">{{translation.mainHeadB}}</h4>
                            </div>
                            <div class="circle-info__back">
                                <h4 class="circle-info__title">{{translation.mainHeadB}}</h4>

                                <p class="circle-info__text hidden-xs">{{translation.mainHeadAltB}}</p>
                                <a href="#"><i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Circle info button -->

                    <!-- Circle info button -->
                    <div class="circle-info-wrapper">
                        <div class="circle-info">
                            <div class="circle-info__front">
                                <h4 class="circle-info__title">{{translation.mainHeadC}}</h4>
                            </div>
                            <div class="circle-info__back">
                                <h4 class="circle-info__title">{{translation.mainHeadC}}</h4>

                                <p class="circle-info__text hidden-xs">{{translation.mainHeadAltC}}</p>
                                <a href="#"><i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Circle info button -->
                </div>
            </div>

            <div class="divider-simple"></div>
        </div>
    </div>
    <!-- End Page title -->

    <!-- Promobox -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--<div class="promobox hidden-xs promobox-position">
                    <p class="promobox__text"><strong>Promo box here.</strong> Praesent sed tristique massa. Aenean
                        iaculis diam nec.</p>
                    <a class="btn btn--highlight btn-wider" href="#">Purchase Template</a>
                </div>-->
            </div>
        </div>
    </div>
    <!-- End Promobox -->

    <!-- Begin main content -->

    <!-- Begin page section -->
    <section class="container benefits">
        <div class="row">
            <div class="col-xs-12 col-md-7">
                <h2 class="section-title">Mediamotion<span class="text-highlight">{{translation.innovations}}</span></h2>
                <ul class="list-arrow list-arrow--hover-efect">
                    <li class="list__item"><i class="icon-circle icon-circle--thin fa fa-arrow-right"></i><strong>{{translation.innovationsHeadA}}</strong> {{translation.innovationsContentA}}
                    </li>
					<li class="list__item"><i class="icon-circle icon-circle--thin fa fa-arrow-right"></i><strong>{{translation.innovationsHeadB}}</strong> {{translation.innovationsContentB}}
                    </li>
                    <li class="list__item"><i class="icon-circle icon-circle--thin fa fa-arrow-right"></i><strong>{{translation.innovationsHeadC}}</strong> {{translation.innovationsContentC}}
                    </li>
                    <li class="list__item"><i class="icon-circle icon-circle--thin fa fa-arrow-right"></i><strong>{{translation.innovationsHeadD}}</strong> {{translation.innovationsContentD}}
                    </li>
                </ul>
            </div>
			<div class="col-xs-8 col-md-3 col-xs-offset-2 col-md-offset-1">
				<img src="assets/images/mediamotion-logo.png" alt="" style="margin-top: 180px;"/>
			</div>
            <!--<div class="col-xs-8 col-md-3 col-xs-offset-2 col-md-offset-1 roundabout-wrapper">
                <ul class="roundabout">
                    <li class="roundabout-slide"><img src="assets/images/iphone-blue.png" alt=""></li>
                    <li class="roundabout-slide"><img src="assets/images/iphone-dark.png" alt=""></li>
                    <li class="roundabout-slide"><img src="assets/images/iphone-pink.png" alt=""></li>
                </ul>
                <div class="roundabout-controls">
                    <a class="prev" href="#"></a>
                    <a class="next" href="#"></a>
                </div>
            </div>-->
        </div>
        <!-- End row -->
    </section>
    <!-- End page section -->

    <!-- Begin page section -->
    <section class="services services--preview">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="divider-circle divider-circle--light"></div>

                    <h2 class="section-title">{{translation.main}}<span class="text-highlight">{{translation.features}}</span></h2>
                </div>
            </div>
        </div>

        <!-- Decorated slider -->
        <div class="decorated-slider-wrapper">
            <div class="decorative-lines"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="swiper-controls decorated-slider-controls">
                            <a class="prev-arrow" href="#"></a>
                            <a class="next-arrow" href="#"></a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="swiper-container decorated-slider">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide swiper-slide--active" data-order="slide1">
                                    <div class="services__item">
                                        <i class="icon icon-circle icon-circle--lg fa fa-cog"></i>
                                        <h4 class="service__title">Simple</h4>
                                    </div>
                                </div>

                                <div class="swiper-slide" data-order="slide2">
                                    <div class="services__item">
                                        <i class="icon icon-circle icon-circle--lg fa fa-users"></i>
                                        <h4 class="service__title">Multi-OS</h4>
                                    </div>
                                </div>

                                <div class="swiper-slide" data-order="slide3">
                                    <div class="services__item">
                                        <i class="icon icon-circle icon-circle--lg fa fa-cloud"></i>
                                        <h4 class="service__title">Leap Motion</h4>
                                    </div>
                                </div>

                                <div class="swiper-slide" data-order="slide4">
                                <!--    <div class="services__item">
                                        <i class="icon icon-circle icon-circle--lg fa fa-tags"></i>
                                        <h4 class="service__title">N/A</h4>
                                    </div>-->
                                </div>

                            </div>
                        </div>

                        <div class="service__info">
                            <p class="service__description slide1 service__description--active"><strong>{{translation.featuresSubHeadB}}</strong> {{translation.featuresContentB}}</p>

                            <p class="service__description slide2"><strong>{{translation.featuresSubHeadA}}</strong> {{translation.featuresContentA}}<br/><br/></p>

                            <p class="service__description slide3"><strong>{{translation.featuresSubHeadC}}</strong> {{translation.featuresContentC}}</p>

                            <p class="service__description slide4"><strong><br/></strong> <br/><br/> </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Decorated slider -->

    </section>
    <!-- End page section -->

    <!-- Begin page section -->
    <!--<section class="universe hidden-xs">
        <div class="pattern-light-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-5">
                        <h2 class="section-title section-title--light">Welcome to APPIC<span class="text-highlight">universe</span>
                        </h2>
                    </div>

                    <div class="col-sm-8 col-md-7 circle-buttons-holder">
                        
                        <div class="circle-button-wrapper circle-button--smaller-wraper">
                            <div class="circle-button circle-button--smaller">
                                <h4 class="circle-button__title">Discover</h4>
                                <a class="circle-button-second" href="#">
                                    <h4 class="circle-button__title">Discover</h4>
                                </a>
                            </div>
                        </div>
                        

                        
                        <div class="circle-button-wrapper circle-button--smaller-wraper">
                            <div class="circle-button circle-button--smaller">
                                <h4 class="circle-button__title">Share</h4>
                                <a class="circle-button-second" href="#">
                                    <h4 class="circle-button__title">Share</h4>
                                </a>
                            </div>
                        </div>
                        

                        
                        <div class="circle-button-wrapper circle-button--smaller-wraper">
                            <div class="circle-button circle-button--smaller">
                                <h4 class="circle-button__title">Enjoy</h4>
                                <a class="circle-button-second" href="#">
                                    <h4 class="circle-button__title">Enjoy</h4>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
            <div class="decorative-lines"></div>
        </div>
    </section>-->
    <!-- End page section -->

    <!-- Begin page section -->
    <!--<section class="container client-says">
        <div class="row">
            <div class="col-sm-12">
                <div class="divider-circle divider-circle--light visible-xs"></div>

                <h2 class="section-title">Recently<span class="text-highlight">Client says</span></h2>

                
                <div class="swiper-controls qoutation-slider-controls">
                    <a class="prev-arrow" href="#"></a>
                    <a class="next-arrow" href="#"></a>
                </div>

                <div class="clearfix"></div>

                <div class="swiper-container qoutation-slider qoutation-slider--higher">
                    <div class="swiper-wrapper">

                        
                        <div class="swiper-slide">
                            <div class="client-says__item">
                                <div class="author__photo triangled-box">
                                    <img src="http://placehold.it/200x200" alt="">

                                    <div class="author__name">John Doe</div>
                                </div>
                                <p class="author__message">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt
                                    risus nec pellentesque. Cum sociis natoque penatibus et magnis dis parturient
                                    montes, nascetur ridiculus mus. Praesent sed tristique massa. Aenean iaculis diam
                                    nec ligula ullamcorper eu tempus dolor ullamcorper. Morbi in nisi tincidunt neque
                                    gravida facilisis. Pellentesque mattis nisl eget neque scelerisque adipiscing.
                                    Vestibulum euismod commodo odio sit amet congue.</p>
                            </div>
                        </div>
                        

                        
                        <div class="swiper-slide">
                            <div class="client-says__item">
                                <div class="author__photo triangled-box">
                                    <img src="http://placehold.it/200x200" alt="">

                                    <div class="author__name">Clark Kent</div>
                                </div>
                                <p class="author__message">Ut id tellus id sapien facilisis convallis sed a turpis.
                                    Maecenas nec nisi vel risus consectetur consectetur. Suspendisse a neque felis, a
                                    molestie quam. Vestibulum consequat ultrices ullamcorper. Vestibulum elementum
                                    semper libero a varius. Integer tristique fringilla mauris vel sollicitudin.
                                    Phasellus consequat ipsum sed purus tempus tincidunt. Aliquam rhoncus iaculis porta.
                                    Aliquam pharetra nisi ut neque sollicitudin rhoncus.</p>
                            </div>
                        </div>
                        

                        
                        <div class="swiper-slide">
                            <div class="client-says__item">
                                <div class="author__photo triangled-box">
                                    <img src="http://placehold.it/200x200" alt="">

                                    <div class="author__name">Barbara Lee</div>
                                </div>
                                <p class="author__message">Pellentesque suscipit augue eu turpis suscipit faucibus
                                    faucibus id lacus. Fusce cursus aliquet vulputate. Aliquam erat volutpat. Nam nec
                                    tincidunt nibh. Nullam urna leo, tincidunt eget sodales id, volutpat quis dolor.
                                    Etiam ac ipsum non mauris fermentum semper. Vivamus faucibus risus orci. Ut
                                    ultrices, quam nec dapibus viverra, erat est fermentum urna, eget ultrices odio
                                    neque at odio. Sed pulvinar interdum libero nec vulputate.</p>
                            </div>
                        </div>
                        

                        
                        <div class="swiper-slide">
                            <div class="client-says__item">
                                <div class="author__photo triangled-box">
                                    <img src="http://placehold.it/200x200" alt="">

                                    <div class="author__name">Emely White</div>
                                </div>
                                <p class="author__message">Nunc id ante id lorem accumsan ultrices sed vel nisl. Etiam
                                    et massa eu diam facilisis tincidunt ut ut urna. Cras vulputate suscipit sem non
                                    dictum. Curabitur pretium nisi ac neque congue commodo scelerisque neque iaculis.
                                    Praesent ornare quam eget justo rhoncus vitae hendrerit est vehicula. Nunc lectus
                                    enim, condimentum vitae varius eu, iaculis ac nisl. Sed hendrerit nisi in velit
                                    aliquet eget luctus diam lacinia.</p>
                            </div>
                        </div>
                        

                        
                        <div class="swiper-slide">
                            <div class="client-says__item">
                                <div class="author__photo triangled-box">
                                    <img src="http://placehold.it/200x200" alt="">

                                    <div class="author__name">Santsa Sky</div>
                                </div>
                                <p class="author__message">Cras vel ligula justo, id condimentum libero. Aliquam erat
                                    volutpat. Nunc at erat eget urna semper semper sed sit amet tortor. Suspendisse urna
                                    nulla, ullamcorper non congue at, condimentum eu est. Nullam mattis erat ut enim
                                    bibendum sed gravida risus cursus. Etiam imperdiet sollicitudin ante, non rhoncus
                                    nunc pellentesque ut. Etiam velit lorem, iaculis quis malesuada congue, cursus at
                                    massa. Duis ut mauris a nunc tincidunt egestas.</p>
                            </div>
                        </div>
                        

                    </div>
                </div>


            </div>
        </div>

    </section>-->
    <!-- End page section -->

    <!-- Begin page section -->
    <!--<section class="container divided-section">
        <div class="divider-circle divider-circle--light"></div>
        <div class="divider-vertical hidden-xs"></div>
        <div class="row">
            <div class="col-sm-6">
                <h2 class="section-title section-title--smaller">Latest<span class="text-highlight">post</span></h2>

                
                <article class="post post--latest">
                    <a href="single-post.html">
                        <div class="post__image">
                            <img src="http://placehold.it/340x340" alt="">
                        </div>
                        <div class="post__description">
                            <h2 class="post__title">Proin gravida dapibus metus, et pretium lorem accumsan
                                suscipit.</h2>

                            <p class="post__date">February 26, 2014</p>

                            <div class="clearfix hidden-lg"></div>
                            <p class="post__text">Maecenas in purus sit amet nisl condimentum venenatis. Morbi fringilla
                                imperdiet nisi, a rhoncus eros iaculis sed. Nulla eget libero eros, vitae fringilla
                                nisi. In hac habitasse platea dictumst. Suspendisse viverra velit eu ante tristique
                                adipiscing mollis sapien lobortis. Quisque gravida scelerisque vehicula. In hac
                                habitasse platea dictumst.<span class="post__more"><i
                                        class="icon-circle icon-circle--small fa fa-arrow-right"></i></span></p>
                        </div>
                        <div class="divider-simple visible-xs"></div>
                    </a>
                </article>
                
            </div>
            <div class="col-sm-6 choose-us">
                <h2 class="section-title section-title--smaller">Why choose<span class="text-highlight">Appic</span>
                </h2>

                
                <div class="panel-group accordion accordion--secondary" id="accordion2">

                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                                    <span class="marker"></span>
                                    Sed ac lacus eu arcu lacinia dictum.
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in" id="collapseFive">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisi nisi, pulvinar a
                                mattis quis, tincidunt sed risus. Quisque ipsum felis, fringilla et tristique eget,
                                mattis quis massa.
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2"
                                   href="#collapseSix">
                                    <span class="marker"></span>
                                    Fusce lacinia purus in urna tristique auctor.
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseSix">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisi nisi, pulvinar a
                                mattis quis, tincidunt sed risus. Quisque ipsum felis, fringilla et tristique eget,
                                mattis quis massa.
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2"
                                   href="#collapseSeven">
                                    <span class="marker"></span>
                                    Fusce vitae turpis elit.
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseSeven">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisi nisi, pulvinar a
                                mattis quis, tincidunt sed risus. Quisque ipsum felis, fringilla et tristique eget,
                                mattis quis massa.
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion2"
                                   href="#collapseEight">
                                    <span class="marker"></span>
                                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                                    egestas.
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapseEight">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisi nisi, pulvinar a
                                mattis quis, tincidunt sed risus. Quisque ipsum felis, fringilla et tristique eget,
                                mattis quis massa.
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="divider-circle divider-circle--light divider-circle-margin"></div>
    </section>-->
    <!-- End page section -->

    <!-- End main content -->
</div>